<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= car.make %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="car-details">
    <h1><%= car.make %> <%= car.model %> </h1>
    <p><br> Color:  <%= car.color %> <br> Horsepower : <%= car.horsepower %> bhp
    </p>
    <form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
    <a class="edit-button" href="/cars/<%= car._id %>/edit">Edit <%= car.make %></a>
    <button type="submit">Delete <%= car.make %></button>
    </form> 
    </div>
    <a class="cars-index-link" href="/cars">    
    <div class="index-link-text">Back to Cars</div>
    </a>
  </body>
</html>